<section class="section-advantages">
  <div class="container adv-cntr">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="adv-list">
      <li class="adv-list-item">
        <p class="adv-text line-break">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="adv-list-item">
        <p class="adv-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="adv-list-item">
        <p class="adv-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="adv-list-item">
        <p class="adv-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <div class="adv-thumb">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/advantages/adv-1440desktop1.jpg 1x,
            /img/advantages/adv-1440desktop2.jpg 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/advantages/adv-1280desktop1.jpg 1x,
            /img/advantages/adv-1280desktop2.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/advantages/adv-tablet1.jpg 1x,
            /img/advantages/adv-tablet2.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/advantages/adv-mobile1.jpg 1x,
            /img/advantages/adv-mobile2.jpg 2x
          "
        />
        <img src="/img/advantages/adv-1280desktop1.jpg" alt="lounge-of-yacht" />
      </picture>
    </div>
  </div>
</section>
