<section class="rent-a-yacht" id="rent-yacht">
  <div class="container container-yacht">
    <div class="capter">
      <h2 class="caption-text">Rent a yacht now</h2>
      <form class="text-section" autocomplete="on" name="report-form">
        <label class="label-blok">
          <input
            class="blok-input"
            type="text"
            name="full_name"
            placeholder="Full Name"
          />
        </label>
        <label class="label-blok">
          <input
            class="blok-input"
            type="email"
            name="email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})"
          />
        </label>
        <label class="label-blok">
          <input
            class="blok-input"
            type="tel"
            name="phone"
            placeholder="Phone number"
            required
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          />
        </label>
        <textarea
          class="blok-texterea"
          name="user-comment"
          rows="5"
          placeholder="Comment"
          id="user-comment"
        ></textarea>
      </form>
      <button class="button" type="submit">Send</button>
    </div>
    <picture>
      <source
        srcset="
          /img/rent-a-yacht/rent-mob.png    1x,
          /img/rent-a-yacht/rent-mob@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-tab.png    1x,
          /img/rent-a-yacht/rent-tab@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-desk.png    1x,
          /img/rent-a-yacht/rent-desk@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-desktops.png    1x,
          /img/rent-a-yacht/rent-desktops@2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        class="pictures-rent"
        src="/img/rent-a-yacht/rent-desktop.png "
        alt="bank"
        width="768"
        height="534"
      />
    </picture>
  </div>
</section>
