.section-advantages {
    padding-bottom: 80px;
}

.adv-list {
    border-radius: 24px;
    background: #1b414b;
    padding: 80px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;
    counter-reset: my-counter;
}

.adv-list-item {
    color: #fbfbfb;
    position: relative;
    padding-top: 70px;
    width: 100%;
}

.adv-list-item::before {
    content: counter(my-counter, decimal-leading-zero);
    counter-increment: my-counter;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
}

.adv-list-item::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(251, 251, 251, 0.1);
    ;
}

.adv-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.8;
    margin: 0;
    max-width: 285px;
}

.line-break {
    max-width: 220px;
}

.adv-thumb {
    border-radius: 24px;
    overflow: hidden;
    width: auto;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .section-advantages {
        padding-bottom: 150px;
    }

    .adv-list {
        padding: 90px 32px;
        gap: 44px 32px;
        margin-bottom: 32px;
    }

    .adv-list-item {
        width: calc((100% - 32px) / 2);
    }

    .adv-text {
        max-width: 272px;
        font-size: 13px;
        line-height: 1.15;
    }

    .line-break {
        max-width: 215px;
    }
}

@media screen and (min-width: 1280px) {

    .adv-cntr {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .adv-list {
        max-width: 716px;
        padding: 90px 50px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .adv-list {
        max-width: 768px;
    }
}