body {
  font-family: 'Inter', sans-serif;
  color: #1b414b;
  background-color: #0e1823;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
}
section {
  min-width: 375px;
}
