/* mobile */
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* mob2 */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
}

/* desktop 2 */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
