/* #region header */
.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.header-container {
  border-radius: 8px;
  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}
.header-list,
.contacts-list {
  display: none;
}
.logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  text-decoration: none;
}
.nav-item {
  text-decoration: none;
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding: 14px 0;
}
.team-icon {
  fill: #1b414b;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  stroke: #1b414b;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-container {
    max-width: 704px;
    height: 48px;
    padding: 0 32px;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 96px 0 113px;
  }
  .header-logo {
    padding: 12px 0;
    margin: 0;
  }
  .nav-item {
    display: flex;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    width: 91px;
    height: 40px;
    color: #fbfbfb;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover,
  .nav-item:focus {
    background-color: #1b414b;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .team-icon:hover,
  .team-icon:focus {
    fill: #062730;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1080px;
    padding: 0 30px;
  }
  .header-logo {
    padding: 12px 0;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
  .header-list {
    margin: 0 281px 0 296px;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1240px;
    padding: 0 30px;
  }
  .header-logo {
    padding: 12px 0;
  }
  .header-list {
    margin: 0 362px 0 375px;
  }
}
/* #endregion header */
