/* mobile */
.rent-a-yacht {
  padding-bottom: 80px;
}

.capter {
  margin: 0 auto 80px;
}

.container-yacht {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.caption-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 0 0 40px;
}

.label-blok {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
  gap: 18px;
}

.blok-input {
  display: block;
  margin: 18px auto;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  outline: transparent;
}

.blok-input:hover,
.blok-input:focus {
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.blok-texterea {
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 18px;
  width: 335px;
  height: 108px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  resize: none;
}

.blok-texterea:hover,
.blok-texterea:focus {
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.button {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 40px 0 0;
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.pictures-rent {
  border-radius: 24px;
  object-fit: cover;
}

/* tab */
@media screen and (min-width: 768px) {
  .rent-a-yacht {
    padding-bottom: 150px;
  }

  .capter {
    width: 472px;
    margin: 0 auto 100px;
  }

  .caption-text {
    font-size: 48px;
    text-align: left;
    margin: 0 0 50px;
    color: #fbfbfb;
  }

  .blok-input {
    width: 100%;
  }

  .text-section {
    width: 473px;
    height: 332px;
    margin: 0 auto;
  }

  .blok-texterea {
    margin: 18px auto 0;
    width: 100%;
  }

  .button {
    width: 194px;
    height: 56px;
  }
  .button:hover,
  .button:focus {
    transform: scale(1.2);
    background: #fbfbfb;
    color: #1b414b;
  }
}

/* desk */
@media screen and (min-width: 1280px) {
  .capter {
    margin: 0;
  }

  .pictures-rent {
    height: 536px;
  }

  .caption-text {
    margin: 0 0 50px;
  }

  .container-yacht {
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: flex-end;
  }

  .button {
    margin: 50px 0 0;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .pictures-rent {
    display: block;
    height: 534px;
  }

  .blok-texterea {
    height: 116px;
  }

  .blok-input {
    height: 52px;
  }
}
