.reviews-section {
  padding-bottom: 80px;
}
.reviews-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-one {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 335px;
  margin: 0;
}
.reviews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  width: 335px;
  margin-top: 25px;
}
.reviews-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-top: 40px;
  justify-content: center;
}
.thumb {
  display: flex;
  justify-content: center;
}
.reviews-klients {
  justify-content: center;
  border-radius: 24px;
  padding: 32px 16px;
  width: 335px;
  height: 282px;
  background: #fbfbfb;
}
.reviews-cont {
  display: flex;
  flex-direction: column;
  height: 138px;
  gap: 8px;
  margin-top: 24px;
}
.reviews-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin: 0;
}
.reviews-klients-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  margin: 0;
}
.reviews-victoria {
  display: none;
}
.reviews-ihor {
  display: none;
}
@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 150px;
  }
  .reviews-title {
    font-size: 48px;
    width: 704px;
  }
  .reviews-text {
    font-size: 14px;
    line-height: 1.29;
    width: 571px;
  }
  .reviews-flex {
    gap: 32px;
    margin-top: 75px;
  }
  .reviews-klients {
    width: 336px;
    height: 282px;
    padding: 32px 20px;
  }
  .reviews-victoria {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-title {
    width: 854px;
  }
  .reviews-flex {
    gap: 26px;
  }
  .reviews-klients {
    width: 376px;
    height: 282px;
    padding: 32px 28px;
  }
  .reviews-ihor {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-flex {
    gap: 32px;
  }
}
